body {
  font-family: Arial, sans-serif;
  text-align: center;
}
#products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  border-radius: 8px;
}
